aiohttp
python-dotenv
Flask
langchain
line-bot-sdk
pydantic
openai
tiktoken
google-search-results
yfinance
flake8
pylint==2.17.2
pylint-pytest==1.1.2
pytest==7.3.1
pytest-cov==4.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
pytest-flask==1.2.0
pytest-mock==3.10.0
Flask-SQLAlchemy
psycopg2==2.9.7